<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meteorite.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1116},{250,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,188}}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
            <key>meteorite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,874},{246,153}}</string>
                <key>offset</key>
                <string>{0.5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,60},{246,153}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>meteorite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,874},{240,242}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{240,242}}</string>
                <key>sourceSize</key>
                <string>{256,258}</string>
            </dict>
            <key>meteorite3.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1122},{125,133}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{125,133}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>meteorite4.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1122},{103,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,75}}</string>
                <key>sourceSize</key>
                <string>{103,75}</string>
            </dict>
            <key>meteoriteFire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{871,871}}</string>
                <key>offset</key>
                <string>{-11.5,11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{871,871}}</string>
                <key>sourceSize</key>
                <string>{894,894}</string>
            </dict>
            <key>shot.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1249},{106,106}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{106,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1249},{92,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,874},{510,509}}</string>
                <key>offset</key>
                <string>{1,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{510,509}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spaceSprites.png</string>
            <key>size</key>
            <string>{914,1384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcf66ac6b352e318be8de00849181951:8bc66c4bb638249b8b73046c64dc9ed4:c4de8e20e90c6462ba2f06b238c7b07e$</string>
            <key>textureFileName</key>
            <string>spaceSprites.png</string>
        </dict>
    </dict>
</plist>
